* {
  box-sizing: border-box;
}

body {
  background-color: rgb(48, 14, 14);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.title {
  color: white;
  margin-right: 5%;
  font-size: xx-large;
  font-weight: 900;
  text-shadow: 0 0 10px #f0dba2;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 700px;
  }

.square {
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 10px;
  background: #f0dba2;
  margin: 2px;
  box-shadow: 0 0 10px rgb(228, 221, 126);
  transition: 1.5s ease-in-out;
  font-size: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  }

.square:hover {
  transition-duration: 0s;
}

.square::before {
  content: " ";
}

.square::after {
  content: "🤍 ";
}